[Unit]
Description=Home Assistant

[Install]
WantedBy=default.target

[Service]
Restart=always

[Container]
ContainerName=homeassistant
Environment=TZ=Europe/London
Image=ghcr.io/home-assistant/home-assistant:stable
AutoUpdate=registry
Pull=newer
Network=host
Volume=%h/home-assistant-data:/config
ReadOnly=true
HealthCmd=curl -fsS http://localhost:8123/ >/dev/null 2>&1 || exit 1
HealthInterval=2m30s
HealthStartPeriod=1m30s
HealthRetries=3
