[Unit]
Description=Immich server
Requires=immich-database.container
Requires=immich-redis.container
After=immich-database.container
After=immich-redis.container

[Install]
WantedBy=default.target

[Service]
Restart=always

[Container]
ContainerName=immich-server
Environment=TZ=Etc/UTC
Environment=IMMICH_VERSION=v2
Environment=IMMICH_LOG_LEVEL=warn
Environment=IMMICH_MACHINE_LEARNING_URL=false
Environment=REDIS_HOSTNAME=immich-redis
Environment=DB_HOSTNAME=immich-database
Environment=DB_DATABASE_NAME=immich
Environment=DB_USERNAME=postgres
Secret=immich_db_password,type=env,target=DB_PASSWORD
Image=ghcr.io/immich-app/immich-server:v2
Network=proxy.network
Network=immich.network
AutoUpdate=registry
Pull=newer
Volume=%h/immich-library:/data
ReadOnly=true
HealthCmd=immich-healthcheck
