[Unit]
Description=Miniflux feed reader
Requires=miniflux-database.container
After=miniflux-database.container

[Install]
WantedBy=default.target

[Service]
Restart=always

[Container]
ContainerName=miniflux
Environment=BASE_URL=https://reader.psquid.net/
Environment=BATCH_SIZE=150
Environment=CLEANUP_ARCHIVE_READ_DAYS=-1
Environment=CLEANUP_ARCHIVE_UNREAD_DAYS=-1
Environment=FETCH_YOUTUBE_WATCH_TIME=1
Environment=LISTEN_ADDR=0.0.0.0:8080
Environment=POLLING_FREQUENCY=5
Environment=POLLING_PARSING_ERROR_LIMIT=10
Environment=POLLING_SCHEDULER=round_robin
Environment=RUN_MIGRATIONS=1
Environment=SCHEDULER_ROUND_ROBIN_MIN_INTERVAL=60
Environment=TZ=Europe/London
Environment=WATCHDOG=1
Environment=WEBAUTHN=1
Secret=miniflux_db_url,type=env,target=DATABASE_URL
Image=ghcr.io/miniflux/miniflux:latest
Network=proxy.network
Network=miniflux.network
AutoUpdate=registry
Pull=newer
ReadOnly=true
HealthCmd=CMD miniflux -healthcheck auto
HealthInterval=5m
HealthStartPeriod=1m
HealthRetries=3
