[Unit]
Description=Navidrome music library server

[Install]
WantedBy=default.target

[Service]
Restart=always

[Container]
ContainerName=navidrome
Image=docker.io/deluan/navidrome:latest
Network=proxy.network
AutoUpdate=registry
Pull=newer
Volume=%h/navidrome-data:/data
Volume=%h/Sync/Music:/music:Z
ReadOnly=true
HealthCmd=wget -q --proxy off localhost:4533/ping -O- | grep -q . || exit 1
HealthInterval=1m
HealthTimeout=10s
HealthStartPeriod=1m
HealthRetries=3
